<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Song Form</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/e59232f0a1.js" crossorigin="anonymous"></script>
</head>
<body>

<header xmlns:sec="http://www.w3.org/1999/xhtml">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/"> Songs </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
                    aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-end" id="navbarsExampleDefault">
                <ul class="navbar-nav m-auto">
                    <li class="nav-item m-auto">
                        <a class="nav-link active" href="/songs"> Songs </a>
                    </li>
                    <li class="nav-item m-auto">
                        <a class="nav-link active" href="/songs/add-form" sec:authorize="hasRole('ROLE_ADMIN')"> Add Song </a>
                    </li>
                    <li class="nav-item m-auto">
                        <a class="nav-link active" href="/add-artist/add-form" sec:authorize="hasRole('ROLE_ADMIN')"> Add Arist </a>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <a class="btn btn-light btn-sm ml-3" href="/logout">
                            <i class="fa-solid fa-right-from-bracket"></i> Logout
                        </a>
                    </li>

                    <li class="nav-item" sec:authorize="isAnonymous()">
                        <a class="btn btn-light btn-sm ml-3" href="/login">
                            <i class="fa-solid fa-right-to-bracket"></i> Login
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<div class="container mt-5">
    <h1 th:text="${song != null} ? 'Edit Song' : 'Add Song'">Add Song</h1>
    <form action="/songs/add" method="POST">
        <input id="id" type="hidden" name="id" th:value="${song != null} ? ${song.id} : ''">

        <div class="form-group">
            <label for="trackId">Track ID</label>
            <input type="text" class="form-control" id="trackId" name="trackId"
                   th:value="${song != null} ? ${song.trackId} : ''" required placeholder="Enter Track ID">
        </div>

        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" name="title"
                   th:value="${song != null} ? ${song.title} : ''" required placeholder="Enter Song Title">
        </div>

        <div class="form-group">
            <label for="genre">Genre</label>
            <input type="text" class="form-control" id="genre" name="genre"
                   th:value="${song != null} ? ${song.genre} : ''" placeholder="Enter Genre">
        </div>

        <div class="form-group">
            <label for="releaseYear">Release Year</label>
            <input type="number" class="form-control" id="releaseYear" name="releaseYear"
                   th:value="${song != null} ? ${song.releaseYear} : ''" placeholder="Enter Release Year">
        </div>

        <div class="form-group">
            <label for="artistIds">Artists</label>
            <select name="artistIds" id="artistIds" class="form-control" multiple required>
                <option th:each="artist : ${artists}"
                        th:value="${artist.id}"
                        th:text="${artist.firstName + ' ' + artist.lastName}"
                        th:selected="${song != null and song.performers.contains(artist)}">
                </option>
            </select>
        </div>

        <div class="form-group">
            <label>Album</label>
            <select name="albumId" class="form-control">
                <option th:each="album : ${albums}"
                        th:value="${album.id}"
                        th:text="${album.name}"
                        th:selected="${song != null and song.album.id == album.id}">
                </option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
        <a href="/songs" class="btn btn-secondary">Back</a>
    </form>


</div>
</body>
</html>
