<html>
<head>
    <meta charset="utf-8">
    <title>Songs Homepage - Welcome to My Music Store</title>
    <style type="text/css">
        body {
            width: 800px;
            margin: auto;
        }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/e59232f0a1.js" crossorigin="anonymous"></script>
</head>
<body>
<header>
    <h1>Welcome to My Music Store</h1>
</header>
<main>
    <h2>Choose a song:</h2>
    <!-- Display radio buttons for each song,
            the value should be the trackId
            and the displayed text should be Title: <songTitle>, Genre:<genre>, Release Year: <releaseYear> -->

    <form th:action="@{/listSongs}" th:method="POST">

        <input type='submit' value='Submit' class="btn btn-block btn-dark">

        <br>

        <div class="row">
            <div class="col-md-8">
                <div th:each="song: ${songs}" class="d-flex align-items-center mb-3">
                    <input type="radio" name="songId" th:value="${song.getTrackId()}" class="mr-2">
                    <label th:for="${song.getTrackId()}" th:text="${song.getTitle()} + ', ' + ${song.getGenre()} + ', ' + ${song.getReleaseYear()}" class="mr-3"></label>

                    <a th:href="@{'/songs/edit-form/{id}' (id=${song.getId()})}" class="btn btn-sm btn-info mr-2">
                        <i class="fa fa-edit"></i> Edit
                    </a>

                    <form th:action="@{'/songs/delete/{id}' (id=${song.getId()})}" th:method="DELETE" class="d-inline-block">
                        <button class="btn btn-sm btn-danger">
                            <i class="fa fa-trash"></i> Delete
                        </button>
                    </form>
                </div>
            </div>
        </div>

    </form>

    <br>
    <div class="col-sm-12 col-md-12">
        <a href="/songs/add-form" class="btn btn-block btn-light">
            Add new song
        </a>
    </div>

</main>
</body>
</html>