<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <meta charset="UTF-8">
    <title>Songs</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/e59232f0a1.js" crossorigin="anonymous"></script>

</head>
<body  xmlns:sec="http://www.w3.org/1999/xhtml">

<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/"> Songs </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
                    aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-end" id="navbarsExampleDefault">
                <ul class="navbar-nav m-auto">
                    <li class="nav-item m-auto">
                        <a class="nav-link active" href="/songs"> Songs </a>
                    </li>
                    <li class="nav-item m-auto">
                        <a class="nav-link active" href="/songs/add-form" sec:authorize="hasRole('ROLE_ADMIN')"> Add Song </a>
                    </li>
                    <li class="nav-item m-auto">
                        <a class="nav-link active" href="/add-artist/add-form" sec:authorize="hasRole('ROLE_ADMIN')"> Add Arist </a>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <a class="btn btn-light btn-sm ml-3" href="/logout">
                            <i class="fa-solid fa-right-from-bracket"></i> Logout
                        </a>
                    </li>

                    <li class="nav-item" sec:authorize="isAnonymous()">
                        <a class="btn btn-light btn-sm ml-3" href="/login">
                            <i class="fa-solid fa-right-to-bracket"></i> Login
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>



<div class="container">
    <form th:action="@{/songs/filter}" method="get">
        <div class="form-group">
            <label for="albumSelect">Filter by Album:</label>
            <select name="albumId" id="albumSelect" class="form-control">
                <option th:each="album : ${albums}"
                        th:value="${album.id}"
                        th:text="${album.name}">
                </option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Filter Songs</button>

        <div class="col-md-4">
            <label for="year">Album Release Year</label>
            <input type="number" id="year" name="year" class="form-control" th:value="${year}">
        </div>
    </form>

    <ul th:each="song : ${songs}">
        <li th:text="|${song.album.name} - ${song.title}|">
            <ul>
                <li th:each="artist : ${song.getPerformers()}" th:text="|${artist.firstName} ${artist.lastName}|"></li>
            </ul>
        </li>

        <th:block sec:authorize="hasRole('ROLE_ADMIN')">
            <form th:action="@{'/songs/delete/{id}' (id=${song.getId()})}"
                  th:method="DELETE">
                <button type="submit"
                        class="btn btn-sm btn-danger">
                    <i class="fa fa-trash">Delete</i>
                </button>
            </form>
        </th:block>

        <th:block sec:authorize="hasRole('ROLE_ADMIN')">
            <a th:href="@{'/songs/edit-form/{id}' (id=${song.getId()})}" class="btn btn-sm btn-info">
                <i class="fa fa-edit"> Edit </i>
            </a>
        </th:block>
    </ul>
</div>
</body>
</html>